@import url("../base-form.css");

h6 {
  margin:0;
  padding: 2px 5px;
  font-size: 0.9em;
  background-color: #CCD4DF;
}

.section-rectangle {
  margin: 5px;
  border: 2px solid black;
}

div {
  font-size: 13px;
}

.titre{
  height: 100px;
}

.section-rectangle mat-form-field {
  margin: 1em;
  width: 100%;
  height: 100%
}

#signature-demandeur {
  border: 2px solid black;
  width: max-content;
  margin-bottom: 5px;
  padding: 5px 10px;
}

#signature-demandeur button {
  margin-left: 60px;
}

.logo-poly{
  display: inline-block;
}

#form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  padding: 5px;
}

.total {
  width: 100%;
  min-width: 100px;
}

#signatures {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 2;
  justify-content: space-between;
}
.signature {
border: 2px solid black;
margin-bottom: 5px;
padding: 5px 10px;
text-align: center;
flex-direction: row;
width:480px;
}

.signature mat-form-field {
width: 100%;
}

#commande mat-checkbox {
  margin-right: 15px;
}

#items table, #ventilation table {
  width: 100%;
}

#ventilation /deep/.mat-form-field-wrapper:nth-last-child(-n+2) {
  width: 20%;
}

#service-finances {
  background-color: #CCD4DF;
  width: 250px;
}

#service-finances p {
  margin-left: 1em;
}

.finance {
  display: flex;
  flex-direction: row-reverse;
}

#service-finances /deep/.mat-form-field-wrapper:nth-last-child(-n+2) {
  width: 200px;
}

#ventilation p {
  margin-left: 1em;
}

