  <!--Commande-->
 <div class="section-rectangle" id="commande">
  <form [formGroup]="fg_commande">
    <h6>COMMANDE</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
            <mat-checkbox formControlName="standard">Standard</mat-checkbox>
        <br>
            <mat-checkbox formControlName="entente">Entente</mat-checkbox>
        <br>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
 </div>

 <!--Service des finances-->
 <div class="section-rectangle" id="finances">
  <form [formGroup]="fg_finances">
  <h6>Réservé au Service des finances</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Technique de réception"
          formControlName="technique">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="No. Bon de commande"
          formControlName="commande">
        </mat-form-field>
        <br>
      </mat-grid-tile>
    </mat-grid-list>
    </form>
  </div>

  <!--Demandeur-->
  <div class="section-rectangle" id="demandeur">
    <form [formGroup]="fg_demandeur">
    <h6>DEMANDEUR</h6>
      <mat-grid-list cols="1" rowHeight="4em">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nom du demandeur"
            formControlName="nom">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Département"
            formControlName="departement">
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Téléphone"
            formControlName="telephone">
          </mat-form-field>
          <br>
        </mat-grid-tile>
      </mat-grid-list>
      </form>
    </div>
  <!--Fournisseur suggéré-->
  <div class="section-rectangle" id="fournisseur">
    <form [formGroup]="fg_fournisseur">
      <h6>FOURNISSEUR SUGGÉRÉ</h6>
      <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nom"
          formControlName="nom">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="No"
          formControlName="numero">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Adresse"
          formControlName="adresse">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="No"
          formControlName="numero2">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Ville"
          formControlName="ville">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Province/État"
          formControlName="province">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Code postal"
          formControlName="postal">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pays"
          formControlName="pays">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    </form>
    </div>
  <!--Contact-->
  <div class="section-rectangle" id="contact">
    <form [formGroup]="fg_contact">
      <h6>CONTACT</h6>
      <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Nom"
        formControlName="nom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Courriel"
        formControlName="courriel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tél."
        formControlName="telephone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Fax"
        formControlName="fax">
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
  </form>
    </div>
  <!--Soumission-->
  <div class="section-rectangle" id="soumission">
    <form [formGroup]="fg_soumission">
    <h6>SOUMISSION</h6>
      <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="No"
        formControlName="numero">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="PickerEcheance"
         placeholder="Date convenue"
         formControlName="echeance" (click)="PickerEcheance.open()">
         <mat-datepicker-toggle matSuffix [for]="PickerEcheance"></mat-datepicker-toggle>
         <mat-datepicker #PickerEcheance></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
  </form>
    </div>
  <!--Livraison-->
  <div class="section-rectangle" id="livraison">
    <form [formGroup]="fg_livraison">
    <h6>LIVRAISON</h6>
    <mat-grid-list cols="1" rowHeight="4em">
  <mat-grid-tile>
    <mat-form-field>
      <input matInput [matDatepicker]="PickerConvenu"
       placeholder="Date convenue"
       formControlName="date" (click)="PickerConvenu.open()">
       <mat-datepicker-toggle matSuffix [for]="PickerConvenu"></mat-datepicker-toggle>
       <mat-datepicker #PickerConvenu></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Lieu convenu"
      formControlName="lieu">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Incoterms"
      formControlName="incoterms">
    </mat-form-field>
  </mat-grid-tile>
    </mat-grid-list>
    </form>
  </div>
  <!--Termes de paiement-->
  <div class="section-rectangle" id="termes">
    <form [formGroup]="fg_termes">
      <h6>TERMES DE PAIEMENT</h6>
    <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
    <mat-form-field>
      <input matInput placeholder="Conditions"
      formControlName="conditions">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Moyens"
      formControlName="moyens">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Précisions"
      formControlName="precisions">
    </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
  </form>
  </div>
  <!--Description des items-->
  <div class="section-rectangle" id="items">
    <h6>DESCRIPTION DES ITEMS</h6>
    <div class="section">
      <table mat-table [dataSource]="dSitems">
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef> # réf. </th>
          <td mat-cell *matCellDef="let element">
            <input [(ngModel)]="element.ref" type="number">
          </td>
        </ng-container>
        <ng-container matColumnDef="descr">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
            <input [(ngModel)]="element.descr">
          </td>
        </ng-container>
        <ng-container matColumnDef="quant">
          <th mat-header-cell *matHeaderCellDef> Quantité </th>
          <td mat-cell *matCellDef="let element">
            <input [(ngModel)]="element.quant" (ngModelChange)="updateTotalItems()" type="number">
          </td>
        </ng-container>
        <ng-container matColumnDef="prixUnit">
          <th mat-header-cell *matHeaderCellDef> Prix unitaire </th>
          <td mat-cell *matCellDef="let element"
              class="percentile">
            <input [(ngModel)]="element.prixUnit" (ngModelChange)="updateTotalItems()" type="number">
          </td>
        </ng-container>
        <ng-container matColumnDef="totalItems">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">
            <p class="total">{{element.quant * element.prixUnit | currency}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn"
                    (click)="onDeleteItem(element)">x</button>
          </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <td mat-footer-cell *matFooterCellDef colspan="5">
            <p>TOTAL: {{ itemsSTotal | currency}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="addRow">
          <td mat-footer-cell *matFooterCellDef colspan="1">
            <button mat-mini-fab color="primary"
                    (click)="onCreateItem()">+</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsItems"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;"></tr>
        <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
      </table>
      
      <mat-form-field class="ventilation_autres">
        <input matInput class="ventilation_autres" 
        [(ngModel)]="items.transport" placeholder="Frais de transport"
        (ngModelChange)="updateTotal()" type="number">
      </mat-form-field>
      <mat-form-field>
          <input matInput class="ventilation_autres" 
          [(ngModel)]="items.autres" placeholder="Autres frais"
          (ngModelChange)="updateTotal()" type="number">
      </mat-form-field>
      <p><b>TPS: </b> {{ taxeTPS | currency }}</p>
      <p><b>TVQ: </b> {{ taxeTVQ | currency }}</p>
      <p><b>Total: </b> {{ itemsTotal | currency }}</p>
      <p><b>Engagement réel: </b>{{ engagement | currency }}</p>
    </div>
  </div>
  <!--Ventilation budgétaire-->
  <div class="section-rectangle" id="ventilation">
      <h6>VENTILATION BUDGETAIRE</h6>
      <div class="section">
        <table mat-table [dataSource]="dSventilation">
          <ng-container matColumnDef="ubr">
            <th mat-header-cell *matHeaderCellDef> UBR. </th>
            <td mat-cell *matCellDef="let element">
              <input [(ngModel)]="element.ubr">
            </td>
          </ng-container>
          <ng-container matColumnDef="compte">
            <th mat-header-cell *matHeaderCellDef> Compte </th>
            <td mat-cell *matCellDef="let element">
              <input [(ngModel)]="element.compte">
            </td>
          </ng-container>
          <ng-container matColumnDef="unite">
            <th mat-header-cell *matHeaderCellDef> Unité administrative </th>
            <td mat-cell *matCellDef="let element">
              <input [(ngModel)]="element.unite">
            </td>
          </ng-container>
          <ng-container matColumnDef="percent">
            <th mat-header-cell *matHeaderCellDef> % </th>
            <td mat-cell *matCellDef="let element"
                class="percentile">
              <input [(ngModel)]="element.percent" type="number">
            </td>
          </ng-container>
          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef> Montant </th>
            <td mat-cell *matCellDef="let element">
              <input [(ngModel)]="element.montant" (ngModelChange)="updateTotal()"
                     type="number">
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn"
                      (click)="onDelete(element)">x</button>
            </td>
          </ng-container>
          <ng-container matColumnDef="total">
            <td mat-footer-cell *matFooterCellDef colspan="5">
              <p>TOTAL: {{ ventilationTotal | currency}}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="addRow">
            <td mat-footer-cell *matFooterCellDef colspan="1">
              <button mat-mini-fab color="primary"
                      (click)="onCreate()">+</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsVentilation"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsVentilation;"></tr>
          <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
        </table>
    </div>
</div>
    <!-- Commentaires et precision -->
  <div class="section-rectangle" id="commentaire">
      <h6>COMMENTAIRES ET PRÉCISIONS</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [(ngModel)]="commentaire.value">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  
<div id="signatures">
  <span *ngFor="let sig of signatures" >
      <div class="signature" id={{sig.id}}>
          <mat-form-field>
              <input matInput type="text" placeholder="{{sig.name}}" [disabled]="sig.lock || sig.validated" [(ngModel)]="sig.value">
              <mat-hint *ngIf="sig.value.length === 0">
                  Le nom et le prénom sont obligatoires!
                  </mat-hint>
              </mat-form-field>
          <mat-checkbox
          class="large"
          [(ngModel)]="sig.check"
          [(indeterminate)]="indeterminate"
          [labelPosition]="labelPosition"
          [disabled]="sig.lock || sig.validated">
          Je confirme et j'accepte la véracité des informations ci-dessus.
          </mat-checkbox>
          <br>
          <button mat-raised-button [disabled]="sig.value.length <= 0 || sig.lock || !sig.check" (click)="sig.onButtonClick()">{{sig.buttonMessage()}}</button>
      </div>
  </span>
</div>
<div class="section-rectangle">
    <div>
        <p>Réservé au service des finances</p>
        <mat-form-field>
            <input matInput type="text" placeholder="RÉFÉRENCE SAFIRH">
        </mat-form-field>
    </div>
</div>
<p>Référence/no. doc. physique <b>DA-012944</b></p>



