table {
  width: 50%;
  height: 50%;
}

td:hover{
  background-color: #aedd94;
}

td:hover:after {
  content: url(../../assets/img/logo-poly-blanc.PNG);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
