#activation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-top: 10%;
}

mat-form-field {
    width: 300px;
    text-align: center;
}

button {
    background: linear-gradient(to bottom, #e4efc0 0%,#abbd73 100%);
    margin-top: 20px;
}

ul {
    font-size: 12px;
    color: #B81E32;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}