<form id="activation-form" [formGroup]="passwordForm" (submit)="setPassword($event)" *ngIf="!isInvalidLink">
  <h4>
      Veuillez définir votre nouveau mot de passe : 
  </h4>
  <ul>
    <li>Doit contenir au moins une lettre minuscule;</li>
    <li>Doit contenir au moins une lettre majuscule;</li>
    <li>Doit contenir au moins un chiffre;</li>
    <li>Ne doit pas contenir des espaces;</li>
    <li>Doit contenir au moins 8 caractères.</li>
  </ul>  

    <mat-form-field>
        <input matInput type="password" placeholder="Nouveau mot de passe" 
        formControlName="password">

        <mat-error *ngIf="passwordForm.controls.password.hasError('required')">
          Mot de passe <strong>obligatoire</strong>
        </mat-error>

        <mat-error *ngIf="passwordForm.controls.password.hasError('invalid') &&!passwordForm.controls.password.hasError('required')">
            Mot de passe <strong>invalide</strong>
          </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="password" placeholder="Confirmer votre mot de passe" 
        formControlName="confirmPassword" [errorStateMatcher]="matcher">

        <mat-error *ngIf="passwordForm.hasError('notSame')">
            Mots de passe <strong>non identiques</strong>
        </mat-error>
    </mat-form-field>

    <button mat-stroked-button type="submit" [disabled]="!enableSubmit()">SAUVEGARDER</button>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
</form>

<mat-spinner id ="spinner" *ngIf="displayProgressSpinner"></mat-spinner>

<h4 *ngIf="isInvalidLink">Lien invalide ou expiré!</h4>
