<div id="entite-externe">
    <h6>ENTITÉ EXTERNE</h6>
    <div id="entite_employe">
        <form [formGroup]="fg_entite_employe">
    <mat-form-field>
        <span matPrefix>P &nbsp;</span>
        <input matInput type="text" placeholder="EMPLOYÉ (matricule)"
        formControlName="matricule">
    </mat-form-field>
</form>
    <br>
    </div>
    <div id="entite_fournisseur">
        <form [formGroup]="fg_entite_fournisseur">
    <mat-form-field>
        <span matPrefix>F &nbsp;</span>
        <input matInput type="text" placeholder="FOURNISSEUR (numéro)"
        formControlName="numero">
    </mat-form-field> 
    <mat-form-field>
        <input matInput type="text" placeholder="Code adresse"
        formControlName="adresse">
    </mat-form-field>
</form>
    </div>
</div>

<div id="beneficiaire-demandeur">
  <div id="beneficiaire">
    <form [formGroup]="fg_beneficiaire">
      <h6>BÉNÉFICIAIRE</h6>
      <mat-form-field>
          <input matInput type="text" placeholder="NOM DE L'EMPLOYÉ"
          formControlName="nom">
      </mat-form-field>
</form>
  </div>
</div>

<div id="fournisseur">
    <form [formGroup]="fg_fournisseur">
  <mat-form-field>
      <input matInput type="text" placeholder="ADRESSE DE L'EMPLOYÉ ou DU FOURNISSEUR"
      formControlName="adresse">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="TÉLÉPHONE"
      formControlName="telephone">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="FAX"
      formControlName="fax">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" placeholder="VILLE"
      formControlName="ville">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="PROVINCE"
      formControlName="province">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="CODE POSTAL"
      formControlName="postal">
  </mat-form-field>
</form>
</div>


<div id="endroit_deplacement">
    <form [formGroup]="fg_endroit_deplacement">
    <table width="100%">
        <thead>
            <tr>
                <th align="left">ENDROIT DU DÉPLACEMENT</th>
                <th colspan="2">DURÉE DU DÉPLACEMENT</th>
                <th>NOMBRE<br>DE JOURS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="endroit">
                    <mat-form-field>
                        <input matInput type="text"
                        formControlName="endroit">
                    </mat-form-field>
                </td>
                <td id="du">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerDU" placeholder="DU" (click)="pickerDU.open()"
                        formControlName="du" (ngModelChange)="duChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="pickerDU"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDU></mat-datepicker>
                    </mat-form-field>
                </td>
                <td id="au">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerAU" placeholder="AU" (click)="pickerAU.open()"
                        formControlName="au" (ngModelChange)="auChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="pickerAU"></mat-datepicker-toggle>
                        <mat-datepicker #pickerAU></mat-datepicker>
                    </mat-form-field>
                </td>
                <td id="duree">
                    <p *ngIf="bothFilled && endroit_deplacement.du < endroit_deplacement.au">{{ dureeDeplacement }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</form>
</div>


<div id="but_deplacement">
  <h6>BUT DU DÉPLACEMENT</h6>
  <form [formGroup]="fg_but_deplacement">
  <mat-form-field>
        <input matInput type="text"
        formControlName="raison">
  </mat-form-field>
</form>

</div>

<div id="estimation">
  <h6>ESTIMATION DES DÉPENSES (EN DOLLARS CANADIENS)</h6>
  <form [formGroup]="fg_estimation">
  <table width="100%" id="tableau-estimation-depenses">
        <thead>
            <tr>
                <th>FRAIS D'INSCRIPTION</th>
                <th>TRANSPORT</th>
                <th>SÉJOUR</th>
                <th>AUTRES</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput type="number" formControlName="fraisInscription" (ngModelChange)="updateFraisInscription($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" formControlName="transport" (ngModelChange)="updateTransport($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" formControlName="sejour" (ngModelChange)="updateSejour($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" formControlName="autres" (ngModelChange)="updateAutres($event)">
                    </mat-form-field>
                </td>
                <td>
                    <p id="estimation-total">{{ estimationTotal | currency }}</p>
                </td>
            </tr>
        </tbody>
  </table>
</form>
</div>

<div id="ventilation">
  <h6>VENTILATION BUDGÉTAIRE</h6>
  <table mat-table [dataSource]="dSventilation" id="ventilation-table">  
        <ng-container matColumnDef="ubr">
            <th mat-header-cell *matHeaderCellDef> UBR </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="element.ubr" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="compte">
            <th mat-header-cell *matHeaderCellDef id="compte-colonne"> COMPTE </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field id="compte-cell">
                    <input matInput type="text" [(ngModel)]="element.compte" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="unite">
            <th mat-header-cell *matHeaderCellDef id="unite-colonne"> UNITÉ <br> ADM. </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field id="unite-cell">
                    <input matInput type="text" [(ngModel)]="element.unite" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef id="montant-colonne"> MONTANT </th>
            <td mat-cell *matCellDef="let element" id="montant-cell">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="element.montant" (ngModelChange)="updateTotal()">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn"
                (click)="onDelete(element)"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="total">
            <td mat-footer-cell *matFooterCellDef colspan="4" id="ventilation-total-cell">
                <strong id="ventilation-total">TOTAL: {{ ventilationTotal | currency}}</strong>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="addRow">
            <td mat-footer-cell *matFooterCellDef>
                <button mat-mini-fab color="primary"
                (click)="onCreate()">+</button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
    </table>
</div>

<div id="avances">
  <h6>AVANCES DEMANDÉES</h6>
  <form [formGroup]="fg_avances">
  <table width="100%" id="tableau-avances-demandees">
        <tbody>
            <tr>
                <td id="avance-1">
                    <h6>1<sup>ère</sup> AVANCE</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number"
                        formControlName="avance1" (ngModelChange)="updateAvanceTotal()">
                    </mat-form-field>
                </td>
                <td id="pour-1">
                    <h6>POUR</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateDu matInput [matDatepicker]="pickerPour1" placeholder="POUR" (click)="pickerPour1.open()"
                        formControlName="date1" >
                        <mat-datepicker-toggle matSuffix [for]="pickerPour1"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPour1></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td id="avance-2">
                    <h6>2<sup>ième</sup> AVANCE</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number"
                        formControlName="avance2" (ngModelChange)="updateAvanceTotal()">
                    </mat-form-field>
                </td>
                <td id="pour-2">
                    <h6>POUR</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateAu matInput [matDatepicker]="pickerPour2" placeholder="POUR" (click)="pickerPour1.open()"
                        formControlName="date2" >
                        <mat-datepicker-toggle matSuffix [for]="pickerPour2"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPour2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td id="avances-total">
                    <h6>TOTAL</h6>
                </td>
                <td id="avances-total-cell">
                    <strong id="avances-total-value">{{ avanceTotal | currency }}</strong>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
  </div>

  <div id="signatures">
    <div *ngFor="let sig of signatures" >
        <div class="signature" id={{sig.id}}>
            <mat-form-field>
                <input matInput type="text" placeholder="{{sig.name}}" [disabled]="sig.lock || sig.validated" [(ngModel)]="sig.value">
                <mat-hint *ngIf="sig.value.length === 0">
                    Le nom et le prénom sont obligatoires!
                    </mat-hint>
                </mat-form-field>
            <mat-checkbox
            class="large"
            [(ngModel)]="sig.check"
            [(indeterminate)]="indeterminate"
            [labelPosition]="labelPosition"
            [disabled]="sig.lock || sig.validated" color="primary">
            Je confirme et j'accepte la véracité des informations ci-dessus.
            </mat-checkbox>
            <br>
            <button mat-raised-button [disabled]="sig.value.length <= 0 || sig.lock || !sig.check" (click)="sig.onButtonClick(); controls.updateValueAndValidity()">{{sig.buttonMessage()}}</button>
        </div>
    </div>
  </div>

<div id="references">
  <p>
      <strong>*</strong> Joindre les pièces justificatives
  </p>
  <div>
      <mat-form-field>
          <input matInput type="text" placeholder="RÉFÉRENCE SAFIRH">
      </mat-form-field>
      <p>Réservé au service des finances</p>
  </div>
</div>
