<form>
  <mat-toolbar color="white">
    <mat-toolbar-row>
      <span><img src="assets/img/logo-poly-blanc.PNG"></span><span>DEMANDE D'ACHAT</span>
      <span>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       </span>
    </mat-toolbar-row>
  </mat-toolbar>
    <mat-grid-tile [rowspan]="1">
      <span>COMMANDE</span>
      <mat-checkbox>Standard</mat-checkbox>
      <mat-checkbox>Entente</mat-checkbox>
    </mat-grid-tile>
    <!--Demandeur-->
    <div class="demandeur">
      <h6>Demandeur</h6>
      <mat-grid-list cols="1" rowHeight="4em">
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nom du demandeur">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Département">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Téléphone">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!--Fournisseur suggéré-->
    <div class="demandeur">
      <h6>Fournisseur suggéré</h6>
      <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Nom">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="No">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Adresse">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="No">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ville">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Province/État">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Code postal">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pays">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    </div>
    <!--Contact-->
    <div class="demandeur">
      <h6>Contact</h6>
      <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
      <mat-form-field>
        <input matInput placeholder="Nom">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Courriel">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tél.">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Fax">
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
    <!--Soumission-->
    <div class="demandeur">
      <h6>Soumission</h6>
      <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
      <span>SOUMISSION:</span>
      <span>NO:</span>
      <mat-form-field>
        <input matInput placeholder="No">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Échéance">
      </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
    <!--Livraison-->
  <div class="demandeur">
    <h6>Livraison</h6>
    <mat-grid-list cols="1" rowHeight="4em">
  <mat-grid-tile>
    <span>LIVRAISON:</span>
    <span>DATE CONVENUE:</span>
    <mat-form-field>
      <input matInput placeholder="Date convenue">
    </mat-form-field>
    <span>LIEU CONVENU:</span>
    <mat-form-field>
      <input matInput placeholder="Lieu convenu">
    </mat-form-field>
    <span>INCOTERMS:</span>
    <mat-form-field>
      <input matInput placeholder="Incoterms">
    </mat-form-field>
  </mat-grid-tile>
    </mat-grid-list>
  </div>
    <!--Termes de paiement-->
  <div class="demandeur">
      <h6>Termes de paiement</h6>
    <mat-grid-list cols="1" rowHeight="4em">
    <mat-grid-tile>
    <span>TERMES DE PAIEMENT: </span>
    <span>CONDITIONS </span>
    <mat-form-field>
      <input matInput placeholder="Incoterms">
    </mat-form-field>
    <span>MOYENS </span>
    <mat-form-field>
      <input matInput placeholder="Incoterms">
    </mat-form-field>
    <span>PRÉCISIONS </span>
    <mat-form-field>
      <input matInput placeholder="Incoterms">
    </mat-form-field>
    </mat-grid-tile>
    </mat-grid-list>
  </div>
    <!--Description des items-->
  <div class="demandeur">
    <h6>Description des items</h6>
    <mat-grid-list cols="1" rowHeight="4em">
  <mat-grid-tile>
    <span>1</span>
    <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <span>2</span>
    <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <span>3</span>
    <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <span>4</span>
    <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <span>5</span>
    <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
    </mat-grid-tile>
      <mat-grid-tile>
        <span>6</span>
        <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>7</span>
        <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>8</span>
        <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>9</span>
        <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <span>10</span>
        <mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field><mat-form-field><input matInput placeholder="Incoterms"></mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="demandeur">
    <h6>Ventilation budgétaire</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <span>TERMES DE PAIEMENT: </span>
        <span>CONDITIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>MOYENS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>PRÉCISIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="demandeur">
    <h6>Commentaires et précisions</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <span>TERMES DE PAIEMENT: </span>
        <span>CONDITIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>MOYENS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>PRÉCISIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="demandeur">
    <h6>Demandeur</h6>
    <mat-grid-list cols="1" rowHeight="4em">
      <mat-grid-tile>
        <span>TERMES DE PAIEMENT: </span>
        <span>CONDITIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>MOYENS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
        <span>PRÉCISIONS </span>
        <mat-form-field>
          <input matInput placeholder="Incoterms">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</form>

