<div id="form-header">
  <img src="assets/img/logo-POLY-forms.png" width=180 height=80>
  <h4>AVANCE DE VOYAGE</h4>
  <div id="form-date">
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="DATE" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
</div>

<div id="entite-externe">
  <h6>ENTITÉ EXTERNE</h6>
  <mat-form-field>
      <input matInput type="text" placeholder="EMPLOYÉ (matricule)">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" placeholder="FOURNISSEUR (numéro)">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="Code adresse">
  </mat-form-field> 
</div>

<div id="beneficiaire-demandeur">
  <div id="beneficiaire">
      <h6>BÉNÉFICIAIRE</h6>
      <mat-form-field>
          <input matInput type="text" placeholder="NOM DE L'EMPLOYÉ">
      </mat-form-field>
  </div>
  <div id="demandeur">
      <h6>DEMANDEUR</h6>
      <mat-form-field>
          <input matInput type="text" placeholder="NOM DU DEMANDEUR">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="text" placeholder="TÉLÉPHONE">
      </mat-form-field>
  </div>
</div>

<div id="nouveau-fournisseur">
  <mat-form-field>
      <input matInput type="text" placeholder="ADRESSE DE L'EMPLOYÉ ou DU FOURNISSEUR">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="TÉLÉPHONE">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="FAX">
  </mat-form-field>
  <br>
  <mat-form-field>
      <input matInput type="text" placeholder="VILLE">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="PROVINCE">
  </mat-form-field>

  <mat-form-field>
      <input matInput type="text" placeholder="CODE POSTAL">
  </mat-form-field>
</div>


<div id="endroit-deplacement">
    <table width="100%">
        <thead>
            <tr>
                <th align="left">ENDROIT DU DÉPLACEMENT</th>
                <th colspan="2">DURÉE DU DÉPLACEMENT</th>
                <th>NOMBRE<br>DE JOURS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput type="text">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateDu matInput [matDatepicker]="pickerDU" placeholder="DU" (click)="pickerDU.open()" [ngModel]="du" (ngModelChange)="duChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="pickerDU"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDU></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateAu matInput [matDatepicker]="pickerAU" placeholder="AU" (click)="pickerAU.open()" [ngModel]="au" (ngModelChange)="auChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="pickerAU"></mat-datepicker-toggle>
                        <mat-datepicker #pickerAU></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <p *ngIf="bothFilled">{{ dureeDeplacement }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div id="but-deplacement">
  <h6>BUT DU DÉPLACEMENT</h6>
  <mat-form-field>
        <input matInput type="text">
  </mat-form-field>

</div>

<div id="estimation-depenses">
  <h6>ESTIMATION DES DÉPENSES (EN DOLLARS CANADIENS)</h6>
  <table width="100%" id="tableau-estimation-depenses">
        <thead>
            <tr>
                <th>FRAIS D'INSCRIPTION</th>
                <th>TRANSPORT</th>
                <th>SÉJOUR</th>
                <th>AUTRES</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [ngModel]="fraisInscription" (ngModelChange)="updateFraisInscription($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [ngModel]="transport" (ngModelChange)="updateTransport($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [ngModel]="sejour" (ngModelChange)="updateSejour($event)">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [ngModel]="autres" (ngModelChange)="updateAutres($event)">
                    </mat-form-field>
                </td>
                <td>
                    <p id="redTotal">{{ estimationTotal | currency }}</p>
                </td>
            </tr>
        </tbody>
  </table>
</div>

<div id="ventilation-budgetaire">
  <h6>VENTILATION BUDGÉTAIRE</h6>
  <table mat-table [dataSource]="dSventilation">  
        <ng-container matColumnDef="ubr">
            <th mat-header-cell *matHeaderCellDef> UBR </th>
            <td mat-cell *matCellDef="let element">
                  <input [(ngModel)]="element.ubr">
            </td>
        </ng-container>
        <ng-container matColumnDef="compte">
            <th mat-header-cell *matHeaderCellDef> COMPTE </th>
            <td mat-cell *matCellDef="let element">
                <input [(ngModel)]="element.compte">
          </td>
        </ng-container>
        <ng-container matColumnDef="unite">
            <th mat-header-cell *matHeaderCellDef> UNITÉ <br> ADM. </th>
            <td mat-cell *matCellDef="let element">
                <input [(ngModel)]="element.unite">
          </td>
        </ng-container>
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef> MONTANT </th>
            <td mat-cell *matCellDef="let element">
                <input [(ngModel)]="element.montant" (ngModelChange)="updateTotal()"
                type="number">
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn"
                (click)="onDelete(element.id)">x</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="total">
          <td mat-footer-cell *matFooterCellDef colspan="5">
              <p id="redTotal">TOTAL: {{ ventilationTotal | currency}}</p>
          </td>
        </ng-container>
        <ng-container matColumnDef="addRow">
          <td mat-footer-cell *matFooterCellDef colspan="1">
              <button mat-mini-fab color="primary"
              (click)="onCreate()">+</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
    </table>
</div>

<div id="avances-demandees">
  <h6>AVANCES DEMANDÉES</h6>
  <table width="100%" id="tableau-avances-demandees">
        <tbody>
            <tr>
                <td>
                    <h6>1ère AVANCE</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="avance1" (ngModelChange)="updateAvanceTotal()">
                    </mat-form-field>
                </td>
                <td>
                    <h6>POUR</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateDu matInput [matDatepicker]="pickerPour1" placeholder="POUR" (click)="pickerPour1.open()">
                        <mat-datepicker-toggle matSuffix [for]="pickerPour1"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPour1></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>2ième AVANCE</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="avance2" (ngModelChange)="updateAvanceTotal()">
                    </mat-form-field>
                </td>
                <td>
                    <h6>POUR</h6>
                </td>
                <td>
                    <mat-form-field>
                        <input #DateAu matInput [matDatepicker]="pickerPour2" placeholder="POUR" (click)="pickerPour1.open()">
                        <mat-datepicker-toggle matSuffix [for]="pickerPour2"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPour2></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>
                    <h6>TOTAL</h6>
                </td>
                <td>
                    <p id="redTotal">{{ avanceTotal | currency }}</p>
                </td>
            </tr>
        </tbody>
    </table>
  </div>

<div id="signatures">
  <div id="signature-demandeur" class="signature">
      <mat-form-field>
          <input matInput type="text" placeholder="SIGNATURE DU DEMANDEUR">
      </mat-form-field>
      
      <mat-checkbox
        class="checkbox-demandeur"
        [(ngModel)]="checked-demandeur"
        [(indeterminate)]="indeterminate"
        [labelPosition]="labelPosition"
        [disabled]="disabled">
        Je confirme et j'accepte la véracité des informations ci-dessus.
      </mat-checkbox>
      <br>
      <button mat-raised-button>SIGNER</button>
  </div>
  <div id="signature-ubr" class="signature">
      <mat-form-field>
          <input matInput type="text" placeholder="SIGNATURE(S) DU OU DES RESPONSABLE(S) DE L'UBR">
      </mat-form-field>
      
      <mat-checkbox
          class="checkbox-ubr"
          [(ngModel)]="checked-ubr"
          [(indeterminate)]="indeterminate"
          [labelPosition]="labelPosition"
          [disabled]="disabled">
          Je confirme et j'accepte la véracité des informations ci-dessus.
      </mat-checkbox>
      <br>
      <button mat-raised-button>SIGNER</button>
  </div>
  <div id="signature-sup" class="signature">
      <mat-form-field>
          <input matInput type="text" placeholder="SIGNATURE DU SUPÉRIEUR IMMÉDIAT">
      </mat-form-field>
      
      <mat-checkbox
          class="checkbox-sup"
          [(ngModel)]="checked-sup"
          [(indeterminate)]="indeterminate"
          [labelPosition]="labelPosition"
          [disabled]="disabled">
          Je confirme et j'accepte la véracité des informations ci-dessus.
      </mat-checkbox>
      <br>
      <button mat-raised-button>SIGNER</button>
  </div>
  <div id="signature-finance" class="signature">
      <mat-form-field>
          <input matInput type="text" placeholder="SERVICE DES FINANCES">
      </mat-form-field>
      
      <mat-checkbox
          class="checkbox-finance"
          [(ngModel)]="checked-finance"
          [(indeterminate)]="indeterminate"
          [labelPosition]="labelPosition"
          [disabled]="disabled">
          Je confirme et j'accepte la véracité des informations ci-dessus.
      </mat-checkbox>
      <br>
      <button mat-raised-button>SIGNER</button>
  </div>
</div>

<div id="references">
  <p>
      <strong>*</strong> Joindre les pièces justificatives
  </p>
  <div>
      <mat-form-field>
          <input matInput type="text" placeholder="RÉFÉRENCE SAFIRH">
      </mat-form-field>
      <p>Réservé au service des finances</p>
  </div>
</div>
