.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-card mat-expansion-panel {
  background: linear-gradient(#f3f3f3, #acacac);
  width: 100%;
}

/* --------------- DÉBUT SEARCHBAR ---------------- */


.searchBar {
  background: linear-gradient(#f3f3f3, #acacac);
  color: black;
  font-size: 14px;
  width: 100%;
}
#center-searchbar {
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
}

/* .searchBarDiv {
  display: inline-block;
  margin-right: 3%;
} */
.searchBarDiv-Auteur {
  display: inline-block;
  margin-right: 3%;
  width: 33%;
}
.searchBarDiv-Statut {
  display: inline-block;
  margin-right: 3%;
  width: 9%;
}
.searchBarDiv-Patron {
  display: inline-block;
  margin-right: 3%;
  width: 18%;
}
.searchBarDiv-DateFrom {
  display: inline-block;
  margin-right: 3%;
  width: 10%;
}
.searchBarDiv-DateTo {
  display: inline-block;
  margin-right: 0;
  width: 10%;
}

.searchBarDate, .searchBarField, .searchBarFieldAuteur {
  display: inline-block;
  font-size: inherit;
}
.searchBarFieldAuteur {
  width: 100%;
}
.searchBarField {
  width: 100%;
}
.searchBarDate {
  width: 100%;
}


.searchBarFieldAuteur .mat-form-field-infix,
.searchBarField .mat-form-field-infix,
.searchBarDate .mat-form-field-infix {
  border-top: 0;
  /* padding-bottom: 8px;
  padding-top: 8px; */
}
.searchBarFieldAuteur .mat-form-field-wrapper,
.searchBarField .mat-form-field-wrapper,
.searchBarDate .mat-form-field-wrapper {
  padding-bottom: 10px;
}

#a-completer-ligne {
  width: 45%;
}

/* ---------------   DÉBUT cartes   -------------- */

.toggleViewDiv {
  float: right;
}
.toggleViewButton {
  background: linear-gradient(#bbdeea, #367ec1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}
.card-type {
  text-align: left;
}
.card-dateAndAuthor {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 60%;
}

.expansionHeader {
  padding: 0 15px !important;
}
.expansionHeader .mat-expansion-indicator::after {
  border-width: 0 4px 4px 0 !important;
  margin-top: -10px !important;
  padding: 4px !important;
}


#completedIcon {
  color: #5e9e04;
}
#archivedIcon {
  color: #41aae6;
}
#canceledIcon {
  color: #232323;
}

#card {
 width: 350px;
 margin-right: 40px;
 margin-bottom: 10px;
 
}

#card-array {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 }

 #centering-array {
   margin-left:8%;
   margin-right:8%;
 }

 #cards-container {
  margin: auto;
 }

.inProgress.mat-progress-bar,
.canceled.mat-progress-bar,
.completed.mat-progress-bar,
.archived.mat-progress-bar {
  height: 24px;
  margin-left: 15px;
  margin-right: 15px;
  width: 230px;
}

.inProgress .mat-progress-bar-buffer,
.canceled .mat-progress-bar-buffer,
.completed .mat-progress-bar-buffer,
.archived .mat-progress-bar-buffer {
  background-color: white;
}

.inProgress .mat-progress-bar-fill::after {
  background-color: #ffff00;
}
  
.canceled .mat-progress-bar-fill::after {
  background-color: #666666;
}

.completed .mat-progress-bar-fill::after {
  background-color: #8cc83c;
}

.archived .mat-progress-bar-fill::after {
  background-color: #bbdeea;
}

#collaborateursList {
  border: 1px solid black;
  border-bottom: none;
  margin-bottom: 15px;
}
#collaborateursList td.mat-cell { /* necessary, too delete unwanted border under text */
  border-bottom: none;
  flex: 1;
  min-height: 48px;
  display: flex;
}
#collaborateursList td.mat-cell:last-of-type {
  padding-right: 0px;
}
#collaborateursList td.mat-cell:first-of-type {
  padding-left: 0px;
}
#collaborateursList mat-row {
  border-bottom: 1px solid black;
}
.collaborateurCompleted {
  padding-left: 4px;
  text-align: left;
  width: 100%;
  background-color: #8cc83c;
}
.collaborateurEdition {
  padding-left: 4px;
  text-align: left;
  width: 100%;
  background-color: #ffff00;
}
.collaborateurWaiting {
  padding-left: 4px;
  text-align: left;
  width: 100%;
  background-color: white;
}

#option-affichage {
  background: linear-gradient(#bbdeea, #367ec1);
}
#modifier {
  background: linear-gradient(#bbdeea, #367ec1);
  width:110px;
}

#valider, #approuver {
  background: linear-gradient(#e8f2db, #8cc83c);
}

/* --------------------- VUE LISTE ---------------- */

.forms-table {
  border-bottom-left-radius: 4px; /* TODO : (low priority) the bottom radius aren't effective */
  border-bottom-right-radius: 4px;
  overflow: auto;
  width: 100%;
}

.vueListeTh.mat-header-cell, .vueListeTd {
  padding: 0px;
  text-align: center;
}
.vueListeTh.mat-header-cell:first-of-type,
.vueListeTd.mat-cell:first-of-type {
  padding-left: 0px;
}
.vueListeTh.mat-header-cell:last-of-type,
.vueListeTd.mat-cell:last-of-type {
  padding-right: 0px;
}

.header-title {
  background: linear-gradient(to bottom, #f3f3f3 0%,#acacac 100%);
  border: 1px solid #acacac;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-align: center;
  font-weight: normal;
  padding: 5px;
  margin: 0;
}

.spinnerDiv {
  padding-bottom: 70px;
  padding-left: 50%;
  padding-top: 70px;
}
.loadingFormsSpinner circle {
  stroke: #367ec1;
}

.noResult {
  color: #acacac;
  font-weight: normal;
  text-align: center;
}

.forms-table .mat-cell {
  border: 1px solid #acacac;
  border-collapse: collapse;
}

.forms-table th.mat-header-cell {
  border: 1px solid #acacac;
  background: linear-gradient(to bottom, #f3f3f3 0%,#acacac 100%);
  color: black;
  font-size: 13px;
  vertical-align: middle;
}

.forms-table .mat-row:nth-child(odd){
  background-color:white;
}

.forms-table .mat-row:nth-child(even){
  background-color: #ebebeb;
}

/* https://stackoverflow.com/questions/55601005/how-to-remove-mat-option-padding?noredirect=1#comment97897983_55601005 */
.collabOption {
  padding: 0 !important;
}

.selectCollaborateurCompleted {
  text-align: center;
  width: 100%;
  background-color: #8cc83c;
}

.selectCollaborateurEdition {
  text-align: center;
  width: 100%;
  background-color: #ffff00;
}

.selectCollaborateurWaiting {
  text-align: center;
  width: 100%;
  background-color: white;
}

