  div
  {
    font-family: Roboto,'Helvetica Neue', sans-serif;
  } /*KETE: déplacer sur stylesheet global*/
  
  div {
    display: flex;
    font-size: 13px;
    align-content: flex-start;
    justify-content: flex-start;
  }

  div.sectionheader {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    border: 2px solid #000000;
    background-color: #ccd4df;
    margin: 5px;
    padding: 0px;
  }
  div.section {
    flex-wrap: wrap;
    background-color: #ffffff;
    align-content: inherit;
    
    width: 100%;
  }
  div.section-column {
    flex-wrap: wrap;
    display: block;
  }
  div.section-row {
    flex-wrap: wrap;
    flex-direction: row;
  }

  h6 {
      padding: 3px 5px;
      margin: 0px;
      font-size: 0.9em;
  }
  p {
      width: 100%;
      padding: 3px 5px;
      margin: 0;
  }

  mat-form-field {
    margin: 0px 0.5%;
    width: 95%;
    height: 100%;
  }

  .checkbox-label {
    flex: 0 0 150px;
  }
  .checkbox-field {
    flex: 0 0 80px;
  }

  /*
  div.fieldgroup {
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
  }
  
  #definition {
    padding-top: 0.5em;
  }
  

  .enabled {
      background-color: #ae3803;
  }

  input {
    margin: 0px;
    height: 100%;
    border: 0.25px;
    text-align: center;
  }
*/
  .monetaire {
      text-align: right;
  }/*

  th, 
  tr.mat-row {
    height: 3em;
  }

  mat-radio-group {
    display: flex;
    width: 95%;
    justify-content: space-between;
  }

  #signature-demandeur {
    border: 2px solid black;
    width: max-content;
    margin-bottom: 5px;
    padding: 5px 10px;
  }

  #signature-demandeur button {
    margin-left: 60px;
  }*/
  .mat-footer-cell {
    text-align: right;
    padding-right: 10%;
  }
/*

  .percentile {
    width: 10%;
  }

  #cycles {
    flex-direction: row;
  }

  .check-category {
    justify-content: space-evenly;
    width: 100%;
  }
  .check-category-label {
    justify-content: flex-start;
    padding-left: 1em;
    width: 100%;
  }*/

  mat-form-field.short {
    width: 24%;
  }
  mat-form-field.medium {
    width: 48%;
  }
  mat-form-field.large {
    width: 72%;
  }