  div {
    display: flex;
  }
  div.sectionheader {
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #c5d4ff;
    border: 2px solid #000000;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 5px;
  }
  div.section {
    background-color: #ffffff;
    flex-direction: inherit;
    align-content: inherit;
    justify-content: inherit;
  }

  div.fieldgroup {
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
  }

  h6 {
      padding: 0;
      margin: 0;
      font-size: 0.9em;
  }
  p {
      padding: 0;
      margin: 0;
  }
  
  mat-form-field {
    margin: 0px;
    width: 95%;
    height: 100%;
  }

  .enabled {
      background-color: #ae3803;
  }

  input {
    margin: 0px;
    width: 95%;
    height: 100%;
    border: 0.25px;
  }
  
  .tablestepper {
    margin: 3px;
    width: 5em;
    height: 100%;
    border: 1px;
    border-color: #ffffff;
  }

  .monetaire {
      text-align: right;
  }

  tr.mat-row {
    height: 3em;
  }

  mat-radio-group {
    display: flex;
    width: 95%;
    justify-content: space-around;
  }