#edit-form-container {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-column:first-of-type {
  align-items: center;
}

.flex-column h4:nth-of-type(2), .flex-column:nth-of-type(2) h4 {
  font-weight: lighter;
}

.flex-column:nth-of-type(2) {
  font-size: 12px;
  align-self: flex-end;
  padding-right: 8px;
}

.flex-column h4 {
  padding: 0;
  margin: 0;
}

#metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.participants {
    float:right;
    margin-right: 1em;
    margin-top: 1em;
    width: 20%;
    min-width: 15%; 
  }

  .disabled {
    pointer-events: none;
  }

  .assignation_selected {
    background-color: #aedd94
  }

  #annuler, #print, #copier {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  }

  #valider, #soumettre {
    color: black;
    background: linear-gradient(to bottom, #e8f2db, #8dc83e);
  }
  button {
    width: 100%;
  }
  button:disabled {
    color: gray;
  }

  #invalider {
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
    color: white;
  }

  .mat-chip-list-stacked,
  .participant {
    width: 100%;
  }

  @media print {

    #edit-form-container {
      visibility: hidden;
    }

    #printableArea {
      visibility: visible;
      width:115%;
      margin:auto;
    }
  }