<div class="sectionheader">
  <h6>DEMANDEUR</h6>
  <div class="section section-row" id="demandeur">
    <form [formGroup]="fg_demandeur">
      <mat-form-field floatLabel="auto" class="large">
        <input matInput placeholder="Nom"
        formControlName="nom">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="short">
        <input matInput placeholder="Téléphone" 
        formControlName="telephone">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="large">
        <input matInput placeholder="Centre, Département, Institut ou Service"
        formControlName="centre">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="short">
        <input matInput placeholder="Unité Administrative"
        formControlName="admin">
      </mat-form-field>
    </form>
  </div>
</div>

<div class="sectionheader">
  <h6>BÉNÉFICIAIRE</h6>
  <div class="section section-row" id="beneficiaire">
    <form [formGroup]="fg_beneficiaire">
      <mat-form-field floatLabel="auto" class="medium">
        <input matInput placeholder="Nom"
        formControlName="nom">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="medium">
        <input matInput placeholder="Prénom"
        formControlName="prenom">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="short">
        <input matInput placeholder="Matricule (Employé)"
        formControlName="mat_enseignant">
      </mat-form-field>
      <mat-form-field floatLabel="auto" class="short">
        <input matInput placeholder="Matricule (Étudiant)"
        formControlName="mat_etudiant">
      </mat-form-field>
      <p class="error_msg" *ngIf="fg_beneficiaire.get('mat_enseignant').touched && 
                                  fg_beneficiaire.get('mat_etudiant').touched && 
                                  fg_beneficiaire.hasError('matricules')">Au moins un matricule est obligatoire.</p>
    </form>
  </div>
</div>
<div class="sectionheader">
  <h6>CYCLE DE L'ÉTUDIANT</h6>
  <div class="section section-column" id="cycle">
    <form [formGroup]="fg_cycle">
    <p [ngClass]="{'error_msg': fg_cycle.invalid && fg_cycle.touched}">Identifier le cycle de l'étudiant(e):</p>
    <div class="section-row">
      <p class="checkbox-label">BACCALAURÉAT:</p>
      <mat-checkbox formControlName="bac" class="checkbox-field" color="primary">
        Obtenu
      </mat-checkbox>
      <mat-checkbox formControlName="bacec" class="checkbox-field" color="primary">
        En cours
      </mat-checkbox>
    </div>
    <div class="section-row">
      <p class="checkbox-label">MAITRISE:</p>
      <mat-checkbox formControlName="mai" class="checkbox-field" color="primary">
        Obtenu
      </mat-checkbox>
      <mat-checkbox formControlName="maiec" class="checkbox-field" color="primary">
        En cours
      </mat-checkbox>
    </div>
    <div class="section-row">
      <p class="checkbox-label">DOCTORAT:</p>
      <mat-checkbox formControlName="doc" class="checkbox-field" color="primary">
        Obtenu
      </mat-checkbox>
      <mat-checkbox formControlName="docec" class="checkbox-field" color="primary">
        En cours
      </mat-checkbox>
    </div>
    </form>
  </div>
</div>

<div class="sectionheader">
  <h6>MODE DE PAIEMENT</h6>
  <div class="section" matTooltip="Pour tout changement fournir un nouveau spécimen de chèque." [matTooltipShowDelay]="1000">
  <p>Veuillez joindre un spécimen de chèque. </p>
  </div>
</div>
<div class="sectionheader">
  <h6>DÉTAIL DE L'AIDE FINANCIÈRE</h6>
  <div class="section section-row" id="details" >
    <form [formGroup]="fg_details">
    <p>Les versements sont faits aux quize jours, selon le cycle de la paie.</p>
    <p>PÉRIODE D'ENGAGEMENT:</p>
    <mat-form-field class="short">
      <input matInput [matDatepicker]="debut" placeholder="Date de début" (click)="debut.open()"
      formControlName="date_debut" matTooltip="La semaine de début d'emploi doit correspondre au dimanche." [matTooltipShowDelay]="1000" >
      <mat-datepicker-toggle matSuffix [for]="debut"></mat-datepicker-toggle>
      <mat-datepicker #debut></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="short">
      <input matInput [matDatepicker]="fin" placeholder="Date de fin" (click)="fin.open()"
      formControlName="date_fin" matTooltip="La semaine de fin d'emploi doit correspondre au samedi." [matTooltipShowDelay]="1000">
      <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
      <mat-datepicker #fin></mat-datepicker>
    </mat-form-field>
    <p class="error_msg" *ngIf="fg_details.hasError('dates')">La fin d'une période doit être après son début.</p>
    <div class="end full">
      <mat-radio-group formControlName="statutVersement" class="large" (change)=onChangeStatus()>
        <mat-radio-button value="UNIQUE" color="primary">Versement unique</mat-radio-button>
        <mat-radio-button value="NEW" color="primary">Nouveau versement</mat-radio-button>
        <mat-radio-button value="CHANGE" color="primary">Changement</mat-radio-button>
      </mat-radio-group>
    <mat-form-field floatLabel="auto" class="short">
      <input matInput placeholder="Numéro de référence"
      formControlName="num_ref">
    </mat-form-field></div>
    <mat-form-field floatLabel="auto" class="short" id="montantAF">
      <mat-label>Montant de l'aide financière</mat-label>
      <input class="monetaire" matInput
      formControlName="montant"  type=number/>
      <mat-error *ngIf="fg_details.get('montant').hasError('negative')">Doit être positif.</mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto" class="medium" id="organismeSubv">
      <input matInput placeholder="Organisme subventionnaire"
      formControlName="subventionnaire">
    </mat-form-field>
    </form>
  </div>
</div>

<div class="sectionheader">
  <h6>VENTILATION BUDGETAIRE</h6>
  <div class="section" id="ventilation">
    <table mat-table [dataSource]="dSventilation">  
      <ng-container matColumnDef="ubr">
          <th mat-header-cell *matHeaderCellDef class="short"> UBR. </th>
          <td mat-cell *matCellDef="let element" class="short">
            <mat-form-field hideRequiredMarker=true floatLabel="auto">
              <input matInput [(ngModel)]="element.ubr" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
            </mat-form-field>
          </td>
      </ng-container>
      <ng-container matColumnDef="compte">
          <th mat-header-cell *matHeaderCellDef> Compte </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field hideRequiredMarker=true floatLabel="auto">
              <input matInput [(ngModel)]="element.compte" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
            </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="unite">
          <th mat-header-cell *matHeaderCellDef> Unité administrative </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field hideRequiredMarker=true floatLabel="auto">
              <input matInput [(ngModel)]="element.unite" (ngModelChange)="fg_ventilation.updateValueAndValidity()">
            </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="percent">
          <th mat-header-cell *matHeaderCellDef> % </th>
          <td mat-cell *matCellDef="let element" class="mat-column-percent">
              <mat-form-field hideRequiredMarker=true floatLabel="auto">
              <input matInput [(ngModel)]="element.percent" type="number">
              </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef> Montant </th>
          <td mat-cell *matCellDef="let element">
              <mat-form-field hideRequiredMarker=true floatLabel="auto">
                  <input matInput [(ngModel)]="element.montant" (ngModelChange)="updateTotal()"
                  type="number">
                </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn"
              (click)="onDelete(element)"><mat-icon>delete_outline</mat-icon></button>
          </td>
      </ng-container>
      <ng-container matColumnDef="total">
        <td mat-footer-cell *matFooterCellDef colspan="5">
            <p>TOTAL: {{ ventilationTotal | currency}}</p>
        </td>
      </ng-container>
      <ng-container matColumnDef="addRow">
        <td mat-footer-cell *matFooterCellDef colspan="1">
            <button mat-mini-fab color="primary"
            (click)="onCreate()">+</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
    </table>
    <form [formGroup]="fg_ventilation">
      <p class="error_msg" *ngIf="fg_ventilation.hasError('incomplete')">Une ou plusieurs lignes de ventilation sont incomplètes.</p>
      <p class="error_msg" *ngIf="fg_ventilation.hasError('total')">Le total de la ventilation ne corresponds pas au montant spécifié plus haut.</p>
      <p class="error_msg" *ngIf="fg_ventilation.hasError('negative')">La ventilation contient des montants négatifs.</p>
    </form>
  </div>
</div>

<div class="sectionheader">
  <h6>REMARQUES</h6>
  <form [formGroup]="fg_remarques">
  <div class="section" id="remarques">
    <mat-form-field hideRequiredMarker=true floatLabel="auto">
      <textarea matInput formControlName="value"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"></textarea>
    </mat-form-field>
  </div>
</form>
</div>

<div class="sectionheader">
  <h6>ATTESTATION DU BOURSIER ET DU (DES) TITULAIRE(S) DE SUBVENTION</h6>
  <div class="section">
    <p>
      Par la présente, le boursier ET le(s) titulaire(s) de subvention déclarent et attestent que le boursier est inscrit comme étudiant à l'École Polytechnique de Montréal, que le travail du boursier s'inscrit dans son programme d'études ou de perfectionnement et que le montant octroyé constitue une bourse d'études ou de perfectionnement (aide financière) au sens des définitions ci-dessous.
    </p><p>
      Le boursier ET le(s) titulaire(s) de subvention reconnaissent aussi qu'il n'y a pas de relation employeur/employé, que le montant octroyé à titre de bourse d'études ou de perfectionnement (aide financière) n'est pas un gain admissible au régime de rentes du Québec, au régime d'assurance emploi, à la CSST, que le boursier n'a droit à aucun avantage social et qu'aucun impôt n'est tenu d'être prélevé à la source (bulletin d'interprétation IT-75R4) par l'École Polytechnique de Montréal.
    </p>
    <h6 id="definition">
      Définitions selon le bulletin d'interprétation  IT-75R4, Loi de l'impôt sur le revenu
    </h6><p>
        Les bourses d'études sont des sommes ou des avantages accordés à des étudiants pour leur permettre de poursuivre leurs études.  Ces bourses visent habituellement à permettre à l'étudiant de poursuivre des études de niveau postsecondaire ou supérieur, habituellement dans une université, un collège, un institut technique ou un établissement d'enseignement semblable (...).  Les bourses d'études aident habituellement l'étudiant à poursuivre ses études dans le but d'obtenir un grade universitaire, un diplôme ou un certificat (...).  Habituellement, un étudiant n'a pas à faire de travaux particuliers pour le payeur en échange d'une bourse.
    </p><p>
      Les bourses de perfectionnement sont semblables à des bourses  d'études, en ce sens qu'il s'agit de sommes ou d'avantages accordés à des personnes pour leur permettre de poursuivre leur études.  Toutefois, le récipiendaire est habituellement un étudiant diplômé, et le payeur, une université, un organisme de bien-faisance ou un organisme semblable.  En général, les bourses de perfectionnement sont décernées pour des études doctorales ou pour du travail de niveau postdoctoral.
    </p>
    <app-sig-block [signatures]="signatures" [controls]="controls"></app-sig-block>
  </div>
</div>


