

#preview {
  pointer-events: none;
}

.selection-table button
{
  width: 100%;
  border-radius: 0;
}
.selection-table
{
  min-width: 200px;
  width: 200px;
}
.fixed
{
  position: fixed;
  width: 200px;
}
#nouv-form-container
{
  display: flex;
  flex: row;
}
.selected
{
  background-color: #bbdeea;
}
#titre
{
  background-color: #41aae6;
  color: #ffffff;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.selection-table #creer
{
  width: 80%;
  margin: 10%;
  height: 4em;
  background-image: linear-gradient(to bottom, #e8f2db, #8dc83e);
}