#preview {
  pointer-events: none;
  background-color: #f7f7f7;
}

.selection-table button {
  width: 100%;
  border-radius: 0;
}

.selection-table {
  min-width: 200px;
  width: 200px;
}

.fixed {
  width: 200px;
}

#nouv-form-container {
  display: flex;
  flex: row;
}

.selected {
  background-color: #bbdeea;
}

#titre {
  background-color: #41aae6;
  color: #ffffff;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.selection-table #creer {
  width: 80%;
  margin: 10%;
  background-image: linear-gradient(to bottom, #e8f2db, #8dc83e);
}

#preview-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #B81E32;
}