<div id="nouv-form-container">
    <div class="selection-table">
        <div class="fixed">
            <button mat-raised-button disabled id="titre">Formulaires</button>
            <button mat-raised-button [ngClass]="{'selected':element.id === formToDisplay}" 
            *ngFor="let element of FORMS_DATA" (click)="displayPreview(element)" >{{element.name}}</button>
            <button mat-raised-button id="creer" (click)="create()">CRÉER</button>
        </div>
    </div>
    <div id="preview">
        <ng-template formhost></ng-template>
    </div>
    <h1 id="preview-indicator">APERÇU</h1>
</div>
