table {
    width: 100%;
}

th.mat-header-cell, td {
    text-align: center;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    width: 50px;
}

h4 {
    text-align: center;
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    font-weight: normal;
    padding: 5px;
    margin: 0;
}

th.mat-header-cell {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    color: black;
    font-size: 13px;
    vertical-align: middle;
}

table i {
    vertical-align: middle;
    cursor: pointer;
}

#add-user {
    background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
    float: right;
    margin-top: 10px;
}

.warning, .error {
    color: #B81E32;
}

#dialog, #error-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#control-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#control-btn button:first-of-type, div.mat-dialog-actions button {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}

#control-btn button:nth-of-type(2){
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
    color: white;
}

div.mat-dialog-actions {
    display: flex;
    justify-content: space-around;
}
