<div id="accounts-list" *ngIf="router.url != 'admin/accounts/new'">
  <h4>{{ "Liste d'utilisateurs (" + dataSource.length + ")" }}</h4>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
            <i class="material-icons" [routerLink]="[getEditAccountRoute(element._id)]" routerLinkActive="active"
              matTooltip="Modifier l'utilisateur" [matTooltipShowDelay]="1500">
              edit
            </i>
            <i class="material-icons" 
              (click)="openConfirmationDialog(element._id, element.firstName, element.lastName)"
              matTooltip="Supprimer l'utilisateur" [matTooltipShowDelay]="1500">
              close
            </i>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Utilisateur 
          <!-- <i class="material-icons" *ngIf="currentCriteria.nameAsc" (click)="sortByName(true)">arrow_drop_down</i> 
          <i class="material-icons" *ngIf="!currentCriteria.nameAsc" (click)="sortByName(false)">arrow_drop_up</i> -->
        </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName + ", " + element.firstName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type 
            <!-- <i class="material-icons" *ngIf="currentCriteria.typeAsc">arrow_drop_down</i> 
            <i class="material-icons" *ngIf="!currentCriteria.typeAsc">arrow_drop_up</i> -->
        </th>
        <td mat-cell *matCellDef="let element"> {{element.type | accountType}} </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Adresse e-mail 
            <!-- <i class="material-icons" *ngIf="currentCriteria.emailAsc">arrow_drop_down</i> 
            <i class="material-icons" *ngIf="!currentCriteria.emailAsc">arrow_drop_up</i> -->
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Date de création 
            <!-- <i class="material-icons" *ngIf="currentCriteria.createdAtAsc">arrow_drop_down</i> 
            <i class="material-icons" *ngIf="!currentCriteria.createdAtAsc">arrow_drop_up</i> -->
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:"dd-MM-yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> Date de modification 
              <!-- <i class="material-icons" *ngIf="currentCriteria.updatedAtAsc">arrow_drop_down</i> 
              <i class="material-icons" *ngIf="!currentCriteria.updatedAtAsc">arrow_drop_up</i> -->
          </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:"dd-MM-yyyy"}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-stroked-button id="add-user" type="button" (click)="navigateToAddAccount()">AJOUTER UN COMPTE</button>

</div>