.header-container {
  height: 100%;
}

.header {
  width: 100%;
}

.header .mat-toolbar {
  background: inherit;
}

.toolbar{
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  background-color: #222222;
  top: 0;
  z-index: 1;
}

.fill-space{
  flex: 1 1 auto;
}

#logo {
  display: inline-block;
  color: #acacac;
  font-size: 18px;
  margin-left: 1.5%;
  /* overflow: hidden; */
  white-space: nowrap;
  /* text-overflow: ellipsis; */
}
#poly-squares {
  height: 10px;
  width: 69px; /* yin yang ? */
  vertical-align: middle;
}

#navbar-links{
  /* display: inline-block; */
  display: flex;
  flex-direction: row;
  /* flex: 1 1 auto; */
  /* width: 100px; */
  /* margin: 20px; */
  color:white;
}
#userName {
  color:white;
  /* display: inline-block; */
  font-size: 15px;
  font-weight: lighter;
}
#settings {
  /* display: inline-block; */
  color:white;
}
#logOut {
  /* display: inline-block; */
  color:white;
}

.active{
  color: #41AAE6 !important;
}

#link{
  margin: 5%;
  color:white;
}

body {
  margin: 0;
}

@media print{
  .toolbar{
    visibility: hidden;
  }
  
}




