.header-container {
  height: 100%;
}

.header {
  width: 200px;
}

.header .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
  background-color: #262627;
}

.fill-space{
  flex: 1 1 auto;
}

#navbar-links{
  flex: 1 1 auto;
  width: 100px;
  margin:20px;
  float:right;
  color:white
}

#bar{
  display: flex;
  flex-direction: row;
}

.active{
  color: #41AAE6 !important;
}

#link{
  margin: 20px;
  color:white
}

/*
#container{
  width:100.97% !important;
  margin-left: -10px;
  margin-top: -10px;
}
*/

#toolbar{
  position:sticky;
  top: 0;
  
}
body {
  margin: 0;
}

@media print{
  #toolbar{
    visibility: hidden;
  }
}




