div.assignation_assigned {
    background-color: #aaaaaa;
  }
div.assignation_selected {
    background-color: #aedd94;
  }

  .mat-table {
    background: inherit;
  }
  
  .child_disabled * {  
    pointer-events: none;
  }

  @media print{
    
        * {
          width: 90%;
        }
    
        
  }