div.assignation_assigned {
    background-color: #e8e8e8;
  }
div.assignation_selected {
    background-color: #aedd94;
  }

  .error_msg {
    color: red;
  }

  .mat-table {
    background: inherit;
  }
  
  .child_disabled * {  
    pointer-events: none;
  }

  /* --------------------------------Print options----------------------------------*/
  @media print{
    
        * {
          max-width: 100%;
          page-break-inside : avoid;
        }

        button {
          display: none !important;
        }

      
      .signature {
        
        max-width:390px !important ;
      }
      
    
        
  }
  /* --------------------------------Print options----------------------------------*/