@import url("./base-form.css");

#signatures {
    font-size: 13px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 2;
    justify-content: space-between;
  }
  
.signature {
    border: 2px solid black;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-align: center;
    flex-direction: row;
    width:480px;
  }
  
  .signature mat-form-field {
    width: 100%;
  }