.participants{
  float:right;
  margin-right: 1em;
  margin-top: 1em;
  width: 25%;
  min-width: 20%;
}
.piece-jointes{
  float:left;
}
/*.fixed {
  position: fixed;
  width: 20%;
}*/

.mat-chip-list-stacked,
.participant{
  width: 100%;
}
.cdk-drag-placeholder {
  opacity: 0;
}

#asgn-form-container
{
  display: flex;
  flex: row;
}

.assignation_selected {
  background-color: #aedd94
}
#envoyer {
  width: 100px;
  align: left;
}
#annuler {
  width: 100px;
  align: left;
}
#envoie-ult {
  width: 200px;
  align: left;
}

