<div id="asgn-form-container">
  <div>
      <div id="metadata" *ngIf="currentForm">
        <img src="assets/img/logo-POLY-forms.png" width=180 height=80>
          <h4>{{currentForm.name | uppercase}}</h4>
      </div>
      <ng-template formhost></ng-template>
  </div>
  <div class="participants" (click)="loseFocus()">
    <div class="fixed">
        <mat-chip-list class="mat-chip-list-stacked" cdkDropList (cdkDropListDropped)="dropParticipant($event)">
          <mat-chip *ngFor="let participant of participants" (click)="getFocus(participant)"
          [ngClass]="{'assignation_selected': participant._id === collaboratorID}" cdkDrag>
            {{participant.firstName}} {{participant.lastName}}
          </mat-chip>
        </mat-chip-list>
        <br>
    <button mat-mini-fab color="primary"
            (click)="openDialog()">+</button>
    <br>
    <app-file-uploader></app-file-uploader>
    <br>
    <mat-grid-list cols="2" rowHeight="40px">
      <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows">
        <button id="envoyer" mat-raised-button (click)="onSend()" color="primary"
        [disabled]="participantInsuffisants">Envoyer</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows">
        <button id="annuler" mat-raised-button color="primary" routerLink="/dashboard" >Annuler</button>
      </mat-grid-tile>
      
     <!--  <mat-grid-tile [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows">
        <button id="envoie-ult" mat-raised-button color="primary">Envoyer ultérieurement</button>
      </mat-grid-tile> -->
    </mat-grid-list>
    
    </div>
  </div>
</div>
    <!--Liste piece-jointes
    <div class="piece-jointes">
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let file of files">
          {{file.name}}
        </mat-chip>
      </mat-chip-list>
      <input type="file" multiple>-->
      <!--<button mat-mini-fab color="primary"-->
              <!--(click)="addFile()">+</button>
    </div>-->
    <!--Boutons-->

