.participants{
  float:right;
  margin-right: 1em;
  margin-top: 1em;
  width: 25%;
  min-width: 20%;
}
.piece-jointes{
  float:left;
}
/*.fixed {
  position: fixed;
  width: 20%;
}*/

.mat-chip-list-stacked {
  width: 100%;
}
.cdk-drag-placeholder {
  opacity: 0;
}

#asgn-form-container
{
  display: flex;
  flex: row;
}

.assignation_selected {
  background-color: #aedd94
}
#envoyer {
  width: 100px;
}
#annuler {
  width: 100px;
}
#envoie-ult {
  width: 200px;
}

#metadata {
  display: flex;
  flex: row;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  width: 100%;
  justify-content: space-around;
}

#submit-btn {
  background: linear-gradient(to bottom, #c5deea 0%,#8abbd7 31%,#066dab 100%);
}

#cancel-btn {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}

mat-chip {
  display: flex;
  justify-content: space-between;
}

mat-chip:hover .deleteParticipant {
  visibility: visible;
}

.deleteParticipant {
  height: 16px;
  width: 16px;
  visibility: hidden;
}
.delX {
  position: relative;
  top: -25px;
}