<div id="asgn-form-container">
  <div>
      <div id="metadata" *ngIf="currentForm">
        <img src="assets/img/logo-POLY-forms.png" width=180 height=80>
          <h4 id="form-title">{{currentForm.name | uppercase}}</h4>
      </div>
      <ng-template formhost></ng-template>
  </div>
  <div class="participants" (click)="loseFocus()">
    <div class="fixed">
        <mat-chip-list class="mat-chip-list-stacked" cdkDropList (cdkDropListDropped)="dropParticipant($event)">
          <mat-chip *ngFor="let participant of participants" (click)="getFocus(participant)"
          [ngClass]="{'assignation_selected': participant._id === collaboratorID}" cdkDrag>
            <p>{{participant.firstName}} {{participant.lastName}}</p> 
            <button class="deleteParticipant" mat-mini-fab color="warn" (click)="deleteParticipant(participant)">
              <p class="delX">x</p>
            </button>
          </mat-chip>
        </mat-chip-list>
        <br>
    <button mat-mini-fab color="primary" id="addCollab"
            (click)="openDialog()">+</button>
    <br>
    <app-file-uploader></app-file-uploader>
    <br>
    <mat-grid-list cols="2" rowHeight="40px">
      <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows">
        <button id="envoyer" mat-raised-button (click)="onSend()" color="primary"
        [disabled]="participantInsuffisants">ENVOYER</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows">
        <button id="annuler" mat-raised-button color="primary" (click)="onReturn()" >ANNULER</button>
      </mat-grid-tile>
    </mat-grid-list>
    
    </div>
  </div>
</div>

