<div id="entite-externe">
    <h6>ENTITÉ EXTERNE</h6>
    <div id="entite_employe">
        <form [formGroup]="fg_entite_employe">
        <mat-form-field>
            <input matInput type="text" placeholder="EMPLOYÉ (matricule)"
            formControlName="matricule">
        </mat-form-field>
        <br>
        </form>
    </div>
    <div id="entite_fournisseur">
    <form [formGroup]="fg_entite_fournisseur">
    <mat-form-field>
        <input matInput type="text" placeholder="FOURNISSEUR (numéro)"
        formControlName="numero">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="Code adresse"
        formControlName="adresse">
    </mat-form-field> 
    </form>
</div>
</div>

<div id="beneficiaire-demandeur">
    <div id="beneficiaire">
            <form [formGroup]="fg_beneficiaire">
        <h6>BÉNÉFICIAIRE</h6>
        <mat-form-field>
            <input matInput type="text" placeholder="NOM DE L'EMPLOYÉ ou DU FOURNISSEUR à payer"
            formControlName="nom">
        </mat-form-field>
    </form>
    </div>
    <div id="demandeur">
            <form [formGroup]="fg_demandeur">
        <h6>DEMANDEUR</h6>
        <mat-form-field>
            <input matInput type="text" placeholder="NOM DU DEMANDEUR"
            formControlName="nom">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="TÉLÉPHONE"
            formControlName="telephone">
        </mat-form-field>
    </form>
    </div>
</div>

<div id="fournisseur">
   <form [formGroup]="fg_fournisseur">
   <h6>NOUVEAU FOURNISSEUR</h6>
    <mat-form-field>
        <input matInput type="text" placeholder="ADRESSE DE L'EMPLOYÉ ou DU FOURNISSEUR"
        formControlName="adresse">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="TÉLÉPHONE"
        formControlName="telephone">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="FAX (Optionnel)"
        formControlName="fax">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" placeholder="VILLE"
        formControlName="ville">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="PROVINCE"
        formControlName="province">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="CODE POSTAL"
        formControlName="postal">
    </mat-form-field>
    <p class="error_msg" *ngIf="fg_fournisseur.hasError('incomplete')">Incomplet: remplir ou vider complètement cette section.</p>
    </form>
</div>

<div id="description_facture">
   <h6>DESCRIPTION DE LA FACTURE</h6>
    <table mat-table [dataSource]="dsFactures">  
            <ng-container matColumnDef="numFacture">
              <th mat-header-cell *matHeaderCellDef> Numéro de la facture <br> (numéro de référence) </th>
              <td mat-cell *matCellDef="let facture" class="nbFacture">
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="facture.num" (ngModelChange)="fg_description_facture.updateValueAndValidity()">
                    </mat-form-field>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="descFacture">
              <th mat-header-cell *matHeaderCellDef> DESCRIPTION DE LA DÉPENSE </th>
              <td mat-cell *matCellDef="let facture" class="desc"> 
                    <mat-form-field class="descField">
                        <input matInput type="text" [(ngModel)]="facture.description" (ngModelChange)="fg_description_facture.updateValueAndValidity()">
                    </mat-form-field>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="refFacture">
              <th mat-header-cell *matHeaderCellDef> Référence <a href="#ref">(1)</a> </th>
              <td mat-cell *matCellDef="let facture" class="refFact"> 
                    <mat-form-field>
                        <input matInput type="text" [(ngModel)]="facture.reference" (ngModelChange)="fg_description_facture.updateValueAndValidity()">
                    </mat-form-field>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn"
                    (click)="onDelete(element)"><mat-icon>delete_outline</mat-icon></button>
                </td>
            </ng-container>
            <ng-container matColumnDef="totalFacture">
              <th mat-header-cell *matHeaderCellDef> TOTAL DE LA FACTURE <br> (en devise) </th>
              <td mat-cell *matCellDef="let facture" class="total">
                  <div class ="totalFactureDevise">
                    <mat-form-field>
                        <!-- TODO: change data binding -->
                        <input matInput type="number" [(ngModel)]="facture.total" (ngModelChange)="updateTotal(); fg_description_facture.updateValueAndValidity()">
                    </mat-form-field>

                    <!--<mat-select placeholder="Devise" [(ngModel)]="selectedCurrency" (selectionChange)="calculateAmount()">
                        <mat-option *ngFor="let c of currency" [value]="c">
                        {{ c }}
                        </mat-option>
                    </mat-select>-->
                  </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <td mat-footer-cell *matFooterCellDef colspan="4">
                    <strong>TOTAL: {{ total | currency }}</strong>
                </td>
            </ng-container>

            <ng-container matColumnDef="addRow" id="addRow">
                <td mat-footer-cell *matFooterCellDef>
                    <button mat-mini-fab color="primary"
                    (click)="addDescriptionRow()">+</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['total','addRow']"></tr>
        </table>
        <p class="error_msg" *ngIf="fg_description_facture.hasError('incomplete')">Une ou plusieurs lignes de description sont incomplètes.</p>
        <p class="error_msg" *ngIf="fg_description_facture.hasError('negative')">La description contient des montants négatifs.</p>
</div>

<div id="ventilation_budgetaire">
  <h6>VENTILATION BUDGÉTAIRE</h6>
    <table mat-table [dataSource]="dsVentilation"> 
        <ng-container matColumnDef="ubr">
            <th mat-header-cell *matHeaderCellDef> UBR </th>
            <td mat-cell *matCellDef="let ventilation">
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="ventilation.ubr" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="compte">
            <th mat-header-cell *matHeaderCellDef> COMPTE </th>
            <td mat-cell *matCellDef="let ventilation"> 
                <mat-form-field class="">
                    <input matInput type="text" [(ngModel)]="ventilation.compte" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="unite">
            <th mat-header-cell *matHeaderCellDef> UNITÉ ADMINISTRATIVE </th>
            <td mat-cell *matCellDef="let ventilation"> 
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="ventilation.unite" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Code de taxes </th>
            <td mat-cell *matCellDef="let ventilation" class="code">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="ventilation.code" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="t4a">
            <th mat-header-cell *matHeaderCellDef> T4A </th>
            <td mat-cell *matCellDef="let ventilation" class="t4a">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="ventilation.t4a" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> RÉFÉRENCE </th>
            <td mat-cell *matCellDef="let ventilation">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="ventilation.reference" (ngModelChange)="fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef> MONTANT APRÈS TAXE </th>
            <td mat-cell *matCellDef="let ventilation">
                <mat-form-field>
                    <input matInput type="number" [(ngModel)]="ventilation.montant" (ngModelChange)="updateVentilationTotal(); fg_ventilation_budgetaire.updateValueAndValidity()">
                </mat-form-field>
            </td>
        </ng-container>

        <ng-container matColumnDef="totalV">
            <td mat-footer-cell *matFooterCellDef colspan="7">
                <strong>TOTAL: {{ totalVentilation | currency }} </strong>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn"
                (click)="onDeleteVentilation(element)"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </ng-container>
        <ng-container matColumnDef="addVRow" id="addVRow">
            <td mat-footer-cell *matFooterCellDef>
                <button mat-mini-fab color="primary"
                (click)="addVentilationRow()">+</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsV"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsV;"></tr>
        <tr mat-footer-row *matFooterRowDef="['totalV','addVRow']"></tr>
    </table>
        <p class="error_msg" *ngIf="fg_ventilation_budgetaire.hasError('incomplete')">Une ou plusieur lignes de ventilation sont incomplètes.</p>
        <p class="error_msg" *ngIf="fg_ventilation_budgetaire.hasError('negative')">La ventilation contient des montants négatifs.</p>
</div>
<div>
<div id="signatures">
    <div *ngFor="let sig of signatures" >
        <div class="signature" id={{sig.id}}>
            <mat-form-field>
                <input matInput type="text" placeholder="{{sig.name}}" [disabled]="sig.lock || sig.validated" [(ngModel)]="sig.value">
                <mat-hint *ngIf="sig.value.length === 0">
                    Le nom et le prénom sont obligatoires!
                    </mat-hint>
                </mat-form-field>
            <mat-checkbox
            class="large"
            [(ngModel)]="sig.check"
            [(indeterminate)]="indeterminate"
            [labelPosition]="labelPosition"
            [disabled]="sig.lock || sig.validated" color="primary">
            <div id="signature-text">
            Je confirme et j'accepte la véracité des informations ci-dessus.
            </div>
            </mat-checkbox>
            <br>
            <button mat-raised-button [disabled]="sig.value.length <= 0 || sig.lock || !sig.check" (click)="sig.onButtonClick(); controls.updateValueAndValidity()">{{sig.buttonMessage()}}</button>
        </div>
    </div>
</div>
<div id="references">
    <p>
        <strong id="ref">(1)</strong> Numéroter les factures et reporter les références à la ligne de ventilation budgétaire appropriée.
        <br> 
        <strong>*</strong> Joindre les pièces justificatives
    </p>
    <div>
        <p>Réservé au service des finances</p>
        <mat-form-field>
            <input matInput type="text" placeholder="RÉFÉRENCE SAFIRH">
        </mat-form-field>
    </div>
</div>
</div>