@import url("../base-form.css");

#form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
}

#tables{
    margin: 2px;
    width: 100% !important;
}

/* tableau totaux */
#tableau-totaux {
    border-collapse: collapse; 
    border: 2px solid black;
    /* font-family: 'Roboto'; */
}

#cellule-monetaire {
    background-color: #fcf5c4;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    padding: 0px 5px;
    min-width: 6%;
}

.output,
#cellule-monetaire mat-form-field {
   
    text-align: center;
}

#cellule-code {
    background-color: #fcf5c4;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0px 10px 0px;
    font-size: 0.9em;
    text-align: center;
}



#cellule-monetaire-avantVide2 {
    background-color: #fcf5c4;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 5px;
    min-width: 6%;
}

#cellule-code-avantVide2 mat-form-field {
    max-width: 60px;
    text-align: center;
}

#cellule-code-avantVide2 {
    background-color: #fcf5c4;
    border-left: 2px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    /*padding: 10px 0px 10px 0px;*/
    font-size: 0.9em;
    text-align: center;
}

#vide-1 {
    background-color: #fcf5c4;
    padding-left: 5px;
}

#vide-2 {
    padding-left: 5px;
}

#cellule-quebec {
    background-color: #fcf5c4;
    border-top: 2px solid black;
    padding-right: 5px;
}

#cellule-quebec-total {
    background-color: #fcf5c4;
    border-top: 2px solid black;
}

#cellule-quebec-vide {
    background-color: #fcf5c4;
}

#cellule-quebec h6, #cellule-quebec-total h6, #cellule-canada h6,
#total-rapport-gauche h6 {
    white-space: nowrap;
    margin: 0;
    padding: 2px 5px;
    font-size: 0.9em;
    background-color: #fcf5c4;
}

#cellule-canada {
    background-color: #fcf5c4;
    border: 2px solid black;
    padding-right: 5px;
}

#total-rapport-gauche {
    background-color: #fcf5c4;
    border-left: 2px solid black;
    border-right: none;
    border-top: 2px solid black;
    border-style: double;
    text-align: center;
}

#total-rapport-droite {
    background-color: #fcf5c4;
    border-left: none;
    border-top: 2px solid black;
    border-style: double;
    text-align: right;
}
/* fin tableau totaux */

h6 {
    margin: 0;
    padding: 2px 5px;
    font-size: 0.9em;
    background-color: #CCD4DF;
}

h4 {
    margin: 0;
    /* font-family: 'Roboto'; */
    font-size: 0.9em;
}

div {
    font-size: 13px;
}


#table mat-form-field {
    
    text-align: left;
}

#tableau-depenses
{
    width: 95%;
}


#tableau-depenses mat-cell
{
    overflow:hidden;
}

#tableaux-explicatifs
{
    width:30%;
    text-align: center;
}
#ventilation-table mat-form-field {
    width: 85px;
    text-align: left;
}

.output {
    max-width:85px;
    overflow:hidden;
}


#fraisKm-cell {
    width: 100px;
    text-align: left;
}



.footer-adder
{
    text-align: right;
}

#precision {
    width: 90%;
    text-align: center;
}


@media print{
            
            #tout-desactive{

                transform: scale(0.7);
                margin-left: -150px;
                max-width: 90% !important;
            
            }

            #ventilation-table mat-form-field {
                width: 32px !important;
                text-align: left;
            }

            button {
                display: none !important;
              }
            
            #tableaux-explicatifs{
                display: none !important;
              }




}